<template>
    <div>
        <div
            class="modal fade"
            id="addNewProduct"
            tabindex="-1"
            role="dialog"
            aria-labelledby="addNewProductLabel"
            aria-hidden="true"
        >
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addNewProductLabel">
                            Add New
                        </h5>
                        <button
                            type="button"
                            class="close"
                            data-dismiss="modal"
                            aria-label="Close"
                        >
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form
                            @submit.prevent="addNewProduct"
                            @keydown="form.onKeydown($event)"
                            enctype="multipart/form-data"
                        >
                            <div class="form-group">
                                <select
                                    name="categorie_id"
                                    v-model="form.categorie_id"
                                    class="form-control"
                                    :class="{
                                        'is-invalid': form.errors.has(
                                            'categorie_id'
                                        )
                                    }"
                                >
                                    <option
                                        v-for="categorie in categories"
                                        :key="categorie.id"
                                        v-bind:value="categorie.id"
                                        >{{ categorie.name }}
                                    </option>
                                </select>
                                <has-error
                                    :form="form"
                                    field="type"
                                ></has-error>
                            </div>

                            <div class="form-group">
                                <input
                                    v-model="form.name"
                                    type="text"
                                    name="name"
                                    placeholder="name"
                                    class="form-control"
                                    :class="{
                                        'is-invalid': form.errors.has('name')
                                    }"
                                />
                                <has-error
                                    :form="form"
                                    field="name"
                                ></has-error>
                            </div>

                           
                    <div class="form-group">
                                <input
                                    v-model="form.price"
                                    type="text"
                                    name="price"
                                    placeholder="price"
                                    class="form-control"
                                    :class="{
                                        'is-invalid': form.errors.has('price')
                                    }"
                                />
                                <has-error
                                    :form="form"
                                    field="price"
                                ></has-error>
                            </div>


                            <div class="form-group">
                                <textarea
                                    v-model="form.description"
                                    name="description"
                                    placeholder="Enter a short description (Optional)"
                                    class="form-control"
                                    :class="{
                                        'is-invalid': form.errors.has(
                                            'description'
                                        )
                                    }"
                                ></textarea>
                                <has-error
                                    :form="form"
                                    field="description"
                                ></has-error>
                            </div>
                            <div class="form-group">
                                <label for="image">image</label>
                                <input
                                    type="file"
                                    class="form-control-file"
                                    @change="onChange"
                                    name="image"
                                 
                                   
                                />
                            </div>

                            <div class="pull-right">
                                <button
                                    type="button"
                                    class="btn btn-secondary"
                                    data-dismiss="modal"
                                >
                                    Close
                                </button>
                                <button
                                    :disabled="form.busy"
                                    type="submit"
                                    class="btn btn-primary"
                                >
                                    Ajouter Produit
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    
    data: function() {
        
        return {
            paiements: [],
            categories: [],
            
            newAddeProduct: "",
           
            form: new Form({
                categorie_id: '',
                name: '',
                price: '',
                description: '',
                image: ''
                // remember: false
            })
        };
    },
   
    methods: {
      
        onChange(e) {
            console.log(e.target.files[0]);
           // this.image = e.target.files[0];
           var fileReader = new FileReader()
        fileReader.readAsDataURL(e.target.files[0])
        fileReader.onload = (e) => {
            this.form.image = e.target.result
        }
        
        },






        addNewProduct(e) {
            const config = {
                headers: { "content-type": "multipart/form-data" }
            };

            
             
            this.form
                .post("/api/product/store",this.form, config)
                .then(response => {
                    this.form.reset();
                    toast.fire({
                        icon: "success",
                        title: "product created successfully"
                    });
                    $("#addNewProduct").modal("hide");
                    this.$Progress.finish();
                    // this.product.image = response.data;
                    this.$emit("reloadProductList");
                    // this.loadUsers();
                })
                .catch(error => {
                    this.$Progress.fail();
                    swal("Wrong!", "Something went wrong!", "error");
                });
        }
    },

    created() {
        // axios.get('/sanctum/csrf-cookie').then(response => {
        axios
            .get("/api/categories")
            .then(response => {
                this.categories = response.data;
            })
            .catch(error => {
                console.log(error);
            });
        // });
    }
};
</script>
