<template>
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title" id="element1">
                            <b>listes des Produits</b>
                        </h3>
                        <button
                            id="element2"
                            class="btn btn-success add-new"
                            data-toggle="modal"
                            data-target="#addNewProduct"
                        >
                            Add New <i class="fas fa-user-plus fa-fw"></i>
                        </button>
                        <create v-on:reloadProductList="getProductsList" />
                    </div>
 
                    <div class="card-body table-responsive p-0">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th
                                        scope="col"
                                      @click="setSortBy('name')"
                                  
                                    >
                                       <span>Name</span> 
                               
                                    </th>
                                    <th
                                        scope="col"
                                       
                                    >
                                        categorie
                                    </th>
                                    <th
                                        scope="col"
                                       
                                    >
                                        description
                                    </th>
                                    <th
                                        scope="col"
                                       
                                    >
                                        price
                                    </th>
                                    <th scope="col">image</th>

                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr
                                    v-for="product in products"
                                    :key="product.id" 
                                >
                                


                                    <th scope="row"
                                    
                                    >{{ product.id }}</th>
                                    <td>{{ product.name }}</td>
                                    <span v-for="categorie in categories" :key="categorie" >
                                      <td v-if="categorie.id == categorie.id ">{{categorie.name}}</td>
                                    </span>
                                    
                                    <td>{{ product.description }}</td>
                                    <td>{{ product.price }}</td>
                                    <td>
                                        <img
                                            :src="'/' + product.image"
                                            class="w3-round"
                                            width="60px"
                                            height="60px"
                                            alt="image"
                                        />
                                    </td>

                                    <td>
                                        <a
                                            @click="deleteProduct(product)"
                                            href="javascript:void(0)"
                                        >
                                            <i class="fa fa-trash red"></i
                                        ></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="card-footer">
                        <!-- <pagination
                            :data="products"
                            @pagination-change-page="getResults"
                        ></pagination> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Create from "./CreateProduct.vue";

import EventBus from "../../event-bus";

export default {
    components: { Create },
    data: function() {

        return {
               sortType:'',
            products: '',
           // products: {},
             products:[],

            category: {},
            categories: [],
            sortBy: {
              key: "updated_at",
              order: "asc",
            },
        };
    },




    created() {
     // 
      this.getProductsList();
     this.getCategoriesList();

    },

    methods: {
      
            setSortBy(key) {
            if (this.sortBy.key === key)
              return (this.sortBy.order =
                this.sortBy.order === "asc" ? "desc" : "asc");
            this.sortBy.key = key;
            this.sortBy.order = "asc";
          },
       
        getCategoriesList() {
            // axios.get('/sanctum/csrf-cookie').then(response => {
            axios
                .get("/api/categories")
                .then(response => {
                    this.categories = response.data;
                })
                .catch(error => {
                    console.log(error);
                });
            // });
        },

       
        getProductsList() {
            // axios.get('/sanctum/csrf-cookie').then(response => {
            axios
                .get("/api/products")
                .then(response => {
                  console.log('prod',response.data)
                    this.products = response.data
                })
                .catch(error => {
                    console.log(error);
                });
            // });
        },

        deleteProduct(product) {
            this.$Progress.start();
            axios
                .post("/api/product/" + product.id)
                .then(({ data }) => {
                    swal("Deleted!", "product deleted successfully!", "error");
                    this.getProductsList();
                   
                    this.$Progress.finish();
                })
                .catch(error => {
                    this.$Progress.fail();
                    console.log(error);
                });
        },
},
};
</script>

<style lang="scss" scoped>
.asc:after {
    content: "\25B2";
}

.desc:after {
    content: "\25BC";
}

#img {
    border-radius: 10%;
}

.fa-edit {
    color: blue;
}
.fa-trash {
    color: red;
}
#element1 {
    float: left;
    font-family: Merriweather;
}
#element2 {
    float: right;
    font-family: Merriweather;
}
table th {
    font-family: Open Sans;
}
table td {
    font-family: Libre Baskerville;
}
</style>
