<template>
    <div class="container-fluid flex-grow-1 container-p-y">

            <h4 class="font-weight-bold py-3 mb-4">
              Bienvenue sur mon application ( SimoLife )
              <div class="text-muted text-tiny mt-1"><small class="font-weight-normal">Yess</small></div>
            </h4>

            <!-- Counters -->
           </div>
</template>

<script>
    export default {
        mounted() {
            // console.log('Component mounted.')
        }
    }
</script>
