<template>
    <div>
        <div class="modal fade" id="addNew" tabindex="-1" role="dialog" aria-labelledby="addNewLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addNewLabel">Ajouter Categories</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

               <form @submit.prevent="addNew" @keydown="form.onKeydown($event)">

                
                   <div class="form-group">
                                <select
                                    name="parent_category"
                                    v-model="form.parent_category"
                                    class="form-control"
                                    :class="{
                                        'is-invalid': form.errors.has(
                                            'parent_category'
                                        )
                                    }"

                                >
                                 <option
                                       
                                        v-bind:value="1"
                                        >selected praent
                                    </option>
                                    <option
                                        v-for="categorie in categories"
                                        :key="categorie.id"
                                        v-bind:value="categorie.id"
                                        >{{ categorie.name }}
                                    </option>
                                </select>
                                <has-error
                                    :form="form"
                                    field="type"
                                ></has-error>
                    </div> 




                    <div class="form-group">
                        <input v-model="form.name" type="text" name="name" placeholder="name"
                            class="form-control" :class="{ 'is-invalid': form.errors.has('name') }">
                        <has-error :form="form" field="name"></has-error>
                    </div>
                    
                   
                   

                    <div class="pull-right">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button :disabled="form.busy" type="submit" class="btn btn-primary">Add categories</button>
                    </div>
               </form>
            </div>



            </div>
        </div>
        </div>
    </div>
</template>

<script>
export default {
    props:['categorie'],
    data: function(){
        return{
            categories:[],
            categories:{},
            newaddCategorie:'',
            form: new Form({
             name:'',
             parent_id:'',
           
            // remember: false
        })
        }
    },




 created() {
        // axios.get('/sanctum/csrf-cookie').then(response => {
            this.getCategoriesList();
            the.get
        axios
            .get("/api/categories")
            .then(response => {
                this.categories = response;
            })
            .catch(error => {
                console.log(error);
            });
        // });
    },

    methods:{
        addNew(){
            this.$Progress.start();
            this.form.post('/api/categorie/store')
            .then( response => {

                this.form.reset();
                toast.fire({
                icon: 'success',
                title: 'categorie created successfully'
                });
                $('#addNew').modal('hide');
                this.$Progress.finish()

                this.$emit('reloadCategorieList');
                // this.loadUsers();
              })
              .catch( error => {
                  this.$Progress.fail()
                   swal("Wrong!", "Something went wrong!", "error");
              })

        },


 getCategoriesList(){
                // axios.get('/sanctum/csrf-cookie').then(response => {
                axios.get('/api/categories')
                    .then( response => {
                        this.categories = response.data;
                        this.child = response.data;
                    })
                    .catch( error => {
                        console.log(error);
                    })
                    // });
                },

        }
}
</script>
