
<template>
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">

                            <h3 class="card-title" id="element1"><b>Categories</b></h3>
                            <button id="element2" class="btn btn-success add-new" data-toggle="modal" data-target="#addNew">Add New <i class="fas fa-user-plus fa-fw"></i> </button>
                            <create v-on:reloadCategorieList="getCategoriesList" />
                            

                    </div>

               <div class="row">
            <div class="col-md-8">

              <div class="card">
                <div class="card-header">
                  <h3>Categories</h3>
                </div>
                <div class="card-body">
                  <ul>
                    <li>name</li>
                  </ul>
                  <ul class="list-group">
                      <div  v-for="categorie in categories " :key="categorie.id">
                    
                      <li class="list-group-item">
                        <div class="d-flex justify-content-between">
                          {{ categorie.name | Upper }}
                           <span v-if="categorie.parent_id "> 
                            <div v-for="child in  categories" :key="child.id">
                              <li class="list-group-item">
                                <div class="d-flex justify-content-between" v-if="child.id === categorie.parent_id" >
                                 <span v-if="child.parent_id == 0">
                                   {{child.name}}
                                  <a @click="deleteCategorie(categorie)" href="javascript:void(0)"> <i class="fa fa-trash red"></i></a>
                                 </span>
                                </div>
                              </li>
                           
                            </div>
                           </span>

                          <a @click="deleteCategorie(categorie)" href="javascript:void(0)"> <i class="fa fa-trash red"></i></a>
                        </div>
                        <div >
                        </div>
                      </li>
                   </div>
                  </ul>
                </div>
                </div>
              </div>
            </div>

          </div>

                <div class="card-footer">
                    <pagination :data="categories" @pagination-change-page="getResults"></pagination>
                </div>

                </div>
            </div>
        </div>

  
</template>

<script>

import Create from './CreateCategorie.vue';

import EventBus from '../../event-bus';

    export default {
  components: { Create},
        data: function(){
            return{
             categories:[],
            // categories: {},
             child:[],
        }
       },
       created(){
                this.getCategoriesList();
                EventBus.$on('searchedString', item => {

                    axios.get('/api/findCategorie/'+ item)
                    .then( response => {
                        this.categories = response.data;
                        console.log(response.data);
                    })
                    .catch( error => {
                        console.log(error);
                    })
                  });
            },
        methods:{
            getResults(page = 1) {
                    axios.get('api/categories?page=' + page)
                    .then((response) => {
                        this.categories = response;

                    });
	            	},
            getCategoriesList(){
                // axios.get('/sanctum/csrf-cookie').then(response => {
                axios.get('/api/categories')
                    .then( response => {
                        this.categories = response.data;
                        this.child = response.data;
                    })
                    .catch( error => {
                        console.log(error);
                    })
                    // });
                },

               
                deleteCategorie(categorie){
                    this.$Progress.start();
                    axios.post('/api/categorie/' + categorie.id)
                    .then(({ data }) => {
                      swal("Deleted!", "categorie deleted successfully!", "error");
                        this.getCategoriesList()
                        // this.users.splice(user, 1);
                        this.$Progress.finish()
                    })
                    .catch( error => {
                        this.$Progress.fail()
                        console.log( error );
                    })
                }


            },

    }
</script>

<style lang="scss" scoped>
.fa-edit {
    color:blue;
}
.fa-trash {
    color: red;
}
#element1 {
    float:left;
    font-family: Merriweather;
    }
#element2 {
    float:right;
    font-family: Merriweather;
    }
table th{
    font-family: Open Sans;
}
table td {
    font-family: Libre Baskerville;
}
</style>
